@use '../util' as *;

.card {
  border-radius: 5px;
  padding: 30px;

  &--user1 {
    background-color: var(--moderate-violet);
  }
  &--user2 {
    background-color: var(--very-dark-grayish-blue);
  }
  &--user3 {
    background-color: var(--white);
  }
  &--user4 {
    background-color: var(--very-dark-blackish-blue);
  }
  &--user5 {
    background-color: var(--white);
  }

  &__icon {
    border-radius: 50%;
  }

  &__username {
    color: var(--white);
    font-weight: 600;
    letter-spacing: rem(.3);

    &--color {
      color: var(--very-dark-grayish-blue);
    }

    &--opac {
      opacity: 50%;
    }
  }

  &__header {
    font-size: rem(20);
    margin: rem(20) 0;
    font-weight: 600;
    line-height: 1.2;
    color: var(--white);
    letter-spacing: rem(.4);

    &--color {
      color: var(--very-dark-grayish-blue);
    }

  }

  &__body {
    line-height: 1.5;
    letter-spacing: rem(.3);
    color: var(--white);

    &--color {
      color: var(--very-dark-grayish-blue);
    }

    &--opac {
      opacity: 70%;
    }
  }
}

.flex {
  display: flex;
  gap: rem(15);
  
  &__jc {
    justify-content: start;
  }

  &__ai {
    align-items: center;
  }
}